/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    /* About Us Page */
    .about_us_container{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
        position: relative;
        right: 0;
    }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    /* Home Page */


}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Home Page */
    .title {
        line-height: 4rem;
    }

    .glitch {
        font-size: 4rem;
    }

    .glitch span {
        left: 22px;
    }
    .bottom_text{
        font-size: 1.5rem;
    }
    /*About Us*/
    .about_us_container{
        padding: 0;
    }
    .inner-section{
        position: relative;
        right: 0;
        padding: 60px;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 400px) {

    /* Home Page */
    .title {
        line-height: 2.6rem;
    }

    .glitch {
        font-size: 2.9rem;
    }

    .glitch span {
        left: 19px;
    }
    
}